.header {
  border-bottom: 1px solid #e5e5e5;
  padding: 25px 0;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo img {
  vertical-align: bottom;
}

.header__menu {
  margin-left: 244px;
}

.menu__list {
  list-style: none;
  display: flex;
}

.menu__item {
  margin-right: 115px;
}

.menu__link {
  text-decoration: none;
  font-size: 15px;
  color: #030305;
}

.menu__link:hover {
  border-bottom: 2px solid #030305;
}

.main {
  background-image: url("../assets/images/background.png");
  background-position: center;
  background-size: cover;
  padding: 104px 0 154px 0;
}

.main__info {
  max-width: 855px;
}

.main__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #030305;
  margin-bottom: 40px;
}

.main__text {
  max-width: 502px;
  font-size: 16px;
  line-height: 130%;
  color: #030305;
  margin-bottom: 40px;
}

.button--common {
  width: 334px;
  height: 64px;
  padding: 20px;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #030305;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button--common:hover:not(:disabled) {
  cursor: pointer;
  background-color: #575757;
}

.button--common:disabled {
  cursor: not-allowed;
  color: grey;
  background-color: #343434;
}
.car {
  padding: 100px 0;
}
.car__item-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.car__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.title--common {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #030305;
}
.car__item {
  max-width: 384px;
  text-align: center;
  margin-top: 40px;
}

.car__item-image:hover img {
  transform: scale(1.1);
}
.car__item-image img {
  vertical-align: bottom;
  transition: all 0.3s;
}

.car__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #030305;
  padding: 15px 0 17px 0;
}
.car__item-point {
  width: 110px;
  height: 92px;
  margin: 0 7.5px;
}
.car__item-point img {
  margin-bottom: 11px;
}
.car__item-action {
  margin-top: 13px;
}
.car__item-button {
  width: 100%;
  padding: 15px;
  height: 54px;
}
.car__item-point > div:nth-child(2) {
  font-weight: 700;
}

.price {
  overflow: hidden;
}
.price__container {
  position: relative;
  padding-bottom: 121px;
}
.price__title {
  margin-bottom: 20px;
}

.price__text {
  font-size: 16px;
  line-height: 130%;
  color: #5d5d5f;
  margin-bottom: 60px;
}

.price__form {
  max-width: 344px;
}

.price__input {
  padding: 22px 18px;
  width: 344px;
  height: 65px;
  background: #ffffff;
  border: 1px solid #5d5d5f;
  box-sizing: border-box;
  font-size: 16px;
  color: #030305;
  outline: none;
  margin-bottom: 15px;
}

.price__input::placeholder {
  color: #5d5d5f;
}

.price__button {
  width: 100%;
}
.price__image {
  position: absolute;
  bottom: 0;
  left: 401px;
}
.footer {
  border-top: 1px solid #e5e5e5;
  padding: 25px 0;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__rights {
  font-size: 15px;
  color: #030305;
}

.price__input.ng-touched.ng-valid {
  border: 1px solid #5d5d5f;
}

.price__input.ng-touched.ng-invalid {
  border: 1px solid red;
}
