<header class="header">
  <div class="header__container _container">
    <div class="header__logo">
      <img src="assets/images/logo.png" alt="logo" />
    </div>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="" class="menu__link">Главная</a>
        </li>
        <li class="menu__item">
          <a href="#cars" class="menu__link">Автомобили</a>
        </li>
        <li class="menu__item">
          <a href="#price" class="menu__link">Бронирование авто</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="main" [ngStyle]="bgPos">
  <div class="main__container _container">
    <div class="main__info">
      <h1 class="main__title">Аренда премиальных автомобилей</h1>
      <div class="main__text">
        В нашем клубе имеется солидная коллекция спортивных автомобилей — от
        достаточно распространенных серийных машин до настоящего гоночного
        эксклюзива. Воспользуйтесь уникальной возможностью побывать за рулем
        настоящей легенды и узнать, на что она способна за пределами гоночной
        трассы!
      </div>
      <div class="main__action">
        <button
          (click)="goScroll(cars)"
          id="main-action"
          class="main__action-button button--common"
        >
          Посмотреть автомобили
        </button>
      </div>
    </div>
  </div>
</section>
<section class="car" id="cars" #cars>
  <div class="car__container _container">
    <h2 class="car__title title--common">Наш автопарк</h2>
    <div class="car-toggle">
      <div
        [ngClass]="{ active: category === 'sport' }"
        (click)="toggleCategory('sport')"
      >
        Sport
      </div>
      <div
        [ngClass]="{ active: category === 'luxury' }"
        (click)="toggleCategory('luxury')"
      >
        Luxury
      </div>
    </div>
    <div class="car__items">
      <div *ngFor="let car of carsData" class="car__item">
        <div class="car__item-image">
          <img src="{{ car.image }}" alt="car" />
        </div>
        <div class="car__item-title">{{ car.name }}</div>
        <div class="car__item-info">
          <div class="car__item-point">
            <img src="assets/images/gear.png" alt="Gear" />
            <div>Привод</div>
            <div>{{ car.gear }}</div>
          </div>
          <div class="car__item-point">
            <img src="assets/images/wheel.png" alt="wheel" />
            <div>Двигатель</div>
            <div>{{ car.engine }} л.с.</div>
          </div>
          <div class="car__item-point">
            <img src="assets/images/belt.png" alt="belt" />
            <div>Кол-во мест</div>
            <div>{{ car.places }}</div>
          </div>
        </div>
        <div class="car__item-action">
          <button
            (click)="goScroll(price, car)"
            class="car__item-button button--common"
          >
            Забронировать
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="price" id="price" #price>
  <div class="price__container _container">
    <h2 class="price__title title--common">Узнать цену и забронировать</h2>
    <div class="price__text">
      Заполните данные, и мы перезвоним вам для уточнения всех деталей
      бронирования
    </div>
    <form class="price__form" action="" [formGroup]="priceForm">
      <input
        formControlName="name"
        id="name"
        class="price__input"
        type="text"
        placeholder="Ваше имя"
      />
      <input
        formControlName="phone"
        id="phone"
        class="price__input"
        type="text"
        placeholder="Ваш телефон"
      />
      <input
        formControlName="car"
        id="car"
        class="price__input"
        type="text"
        placeholder="Автомобиль, который вас интересует"
      />
      <button
        [disabled]="!priceForm.valid"
        (click)="onSubmit()"
        type="button"
        id="price-action"
        class="price__button button--common"
      >
        Узнать цену
      </button>
    </form>
    <img
      class="price__image"
      src="assets/images/rolls.png"
      alt="rolls"
      [ngStyle]="trans"
    />
  </div>
</section>
<footer class="footer">
  <div class="footer__container _container">
    <div class="footer__logo">
      <img src="assets/images/logo.png" alt="logo" />
    </div>
    <div class="footer__rights">Все права защищены</div>
  </div>
</footer>
